.m-bag {
    width: 100%;
    /* background-color: black; */
}
.m-bag-box {
    width: 100%;
    /* background-color: rgb(94, 20, 20); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    min-height: 60vh;
    gap: 10px;
    padding: 20px 10px;
}
.m-bag-alert {
    text-align: center;
    color: black;
    height: 60vh;
    line-height: 60vh;
}
.m-items {
    text-align: center;
    background-color: #FFC7C7;
    height: min-content;
    padding-bottom: 5px;
}
.m-items > img {
    width: 90%;
    margin: 5px auto;
}
.m-items > input {
    width: 30px;
}
.m-items > h4 {
    font-size: 1em;
    margin-bottom: 2px;
}
.m-items > p {
    margin: 0;
}
.m-bag-button {
    display: block;
    margin: 20px auto;
}

@media (max-width:576px) {
    .m-bag-box {
        grid-template-columns: 1fr;
        /* background-color: red; */
    }
    .m-bag-alert {
        height: 75vh;
        line-height: 75vh;
    }
}