.m-galery {
    color: black;
    text-align: center;
    padding: 30px 0;
    background-color: white;
}
.m-galery-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 10px;
}
.m-galery-content {
    display: grid;
}
.m-galery-content > img {
    width: 95%;
    justify-self: center;
    filter: brightness(.8);
    transition: .2s;
}
.m-galery-content > img:hover {
    filter: brightness(1);
    border-radius: 10px;
}

@media (max-width:576px){
    .m-galery-box {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}
